body {
    background-color: lightblue;
    font-family: sans-serif;
    font-size: 11pt;
}

table, th, td {
    border: 1px solid black;
    border-collapse:  collapse;
    opacity: 0.95;
    table-layout: fixed;
    width: 190px;
    overflow: hidden;
    margin: auto;
    padding: 10px 15px;
}

th {
    font-size: 15pt;
}
