@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/* login.html */
body {
    background: rgb(55, 60, 65);
    font-family: sans-serif;
    margin: 0;
    padding: 0px;
}

    .login-box {
        color: white;
        left: 50%;
        position: absolute;
        top: 45%;
        transform: translate(-50%,-50%);
        width: 280px;
    }

    .login-box h1 {
        border-bottom: 6px solid rgb(200, 226, 233);
        float: left;
        font-size: 50px;
        margin-bottom: 50px;
        padding: 13px 0px; 
    }

    .textbox {
        border-bottom: 1px solid rgb(200, 226, 233);
        font-size: 20px;
        margin: 8px 0px;
        overflow: hidden;
        padding: 8px 0;
        width: 100%;
    }

    .textbox i {
        float: left;
        text-align: center;
        width: 26px;
    }

    .textbox input {
        background: none;
        border: none;
        color:white;
        float: left;
        font-size: 18px;
        margin: 0px 10px;
        outline: none;
        width: 80%;
    }

    .textbox-check label {
        color: gray;
        font-family: sans-serif;
        font-size: 15px;
        margin: 0px 10px;
        border-radius: 5px;
        cursor: pointer;
    } 

    .login-button .btn {
        background: none;
        border: 2px solid rgb(200, 226, 233);
        color: white;
        cursor: pointer;
        font-family: sans-serif;
        font-size: 18px;
        margin: 20px 0px;
        padding: 5px;
        width: 95%;    
        float: left;
        text-align: center;
    }

    .login-button a:hover {
        box-shadow: 0px 0px 10px white;
    }
